.allShoes {
  max-width: 100vw;
  /* background: linear-gradient(to right, rgb(187, 0, 0), rgb(252, 27, 27)); */
}
.allShoes__shoes {
  margin-left: 15vw;
  margin-right: 30px;
  margin-top: 30px;
  /* border: 1px solid black; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 500px) {
  .allShoes__shoes {
    margin-left: 0;
    margin-top: 80px;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (min-width: 500px) and (max-width: 980px) {
  .allShoes__shoes {
    margin-left: 0;
    margin-top: 80px;
    align-items: center;
  }
}