.allShoesNavbar {
  height: 350px;
  width: 30vh;
  background: linear-gradient(to bottom right, black, darkslategray);
  position: fixed;
  margin-top: 60px;
  margin-left: 0;
  color: white;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
}

.allShoesNavbar__section {
  font-size: 20px;
  font-weight: 500;
  color: white;
  border-bottom: 1px solid white;
  margin-bottom: 20px;
}

.allShoesNavbar__category {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.allShoesNavbar__items {
  margin-top: 10px;
  color: rgb(224, 224, 224);
  font-size: 16px;
  display: block;
  padding: 5px 20px;
  border-radius: 5px;
  transition: all 0.5s ease;
}

.allShoesNavbar__items:hover {
  background-color: rgb(173, 173, 173);
  color: black;
}

.allShoesNavbar__active {
  border-bottom: 1px solid gray;
}

.allShoesNavbar2 {
  display: none;
}

@media screen and (max-width: 400px) {
  .allShoesNavbar {
    display: none;
  }

  .allShoesNavbar2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 50px;
    left: 0;
    background: linear-gradient(to right, rgb(39, 39, 39), rgb(62, 126, 126));
    width: 100vw;
    overflow-y: scroll;
  }

  .allShoesNavbar2__section {
    color: rgb(226, 226, 226);
    margin-top: 5px;
    text-decoration: underline;
    margin-bottom: 2px;
    font-size: 13px;
  }

  .allShoesNavbar2__category {
    margin-bottom: 7px;
  }

  .allShoesNavbar2__items {
    color: rgb(201, 201, 201);
    margin: 0 3px;
    font-size: 10px;
    padding: 2px 1px;
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.5s ease;
  }

  .allShoesNavbar2__items:hover {
    background: linear-gradient(to right, rgb(173, 173, 173), rgb(223, 223, 223));
    color: rgb(37, 37, 37);
  }

  .allShoesNavbar2__active {
    border-bottom: 1px solid rgb(189, 189, 189);
  }
}

@media screen and (min-width: 400px) and (max-width: 980px) {
  .allShoesNavbar {
    display: none;
  }

  .allShoesNavbar2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 50px;
    left: 0;
    background: linear-gradient(to right, rgb(39, 39, 39), rgb(62, 126, 126));
    width: 100vw;
    overflow-y: scroll;
  }

  .allShoesNavbar2__section {
    color: rgb(226, 226, 226);
    margin-top: 5px;
    text-decoration: underline;
    margin-bottom: 2px;
    font-size: 15px;
  }

  .allShoesNavbar2__category {
    margin-bottom: 7px;
  }

  .allShoesNavbar2__items {
    color: rgb(201, 201, 201);
    margin: 0 5px;
    font-size: 12px;
    padding: 2px 3px;
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.5s ease;
  }

  .allShoesNavbar2__items:hover {
    background: linear-gradient(to right, rgb(173, 173, 173), rgb(223, 223, 223));
    color: rgb(37, 37, 37);
  }

  .allShoesNavbar2__active {
    border-bottom: 1px solid rgb(189, 189, 189);
  }
}